    <div class="sidebar-header">
        <div>
            <img src="" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Admin</h4>
        </div>
        <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">

        <li>
            <a href="">
                <div class="parent-icon"><i class='bx bx-home-circle'></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
        </li>

        <!-- <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class='bx bx-cookie'></i>
                </div>
                <div class="menu-title">Brand</div>
            </a>
            <ul>
                <li> <a href="#"><i class="bx bx-right-arrow-alt"></i>All Brand</a>
                </li>
                
                <li> <a href="#"><i class="bx bx-right-arrow-alt"></i>Add Brand </a>
                </li>
                 
            </ul>
        </li> -->
        

        <!-- <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="bx bx-category"></i>
                </div>
                <div class="menu-title">Category</div>
            </a>
            <ul>
                <li> <a href="#"><i class="bx bx-right-arrow-alt"></i>All Category</a>
                </li>
                
                <li> <a href="#"><i class="bx bx-right-arrow-alt"></i>Add Category</a>
                </li>
                
                 
            </ul>
        </li> -->
        
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="lni lni-codepen"></i>
                </div>
                <div class="menu-title">Students</div>
            </a>
            <ul>
                <li> <a href="{% url 'all_student'  %}"><i class="bx bx-right-arrow-alt"></i>All Students</a>
                </li>
                
                <li> <a href="{% url 'add_student'  %}"><i class="bx bx-right-arrow-alt"></i>Add Students</a>
                </li>
                
                 
            </ul>
        </li>

        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="lni lni-fresh-juice"></i>
                </div>
                <div class="menu-title">Items</div>
            </a>
            <ul>
                <li> <a href="{% url 'all_item'  %}"><i class="bx bx-right-arrow-alt"></i>All Product</a>
                </li>
                
                <li> <a href="{% url 'add_item'  %}"><i class="bx bx-right-arrow-alt"></i>Add Product</a>
                </li>
                
                 
            </ul>
        </li>
        

        <!-- <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class="lni lni-gallery"></i>
                </div>
                <div class="menu-title">Slider Manage</div>
            </a>
            <ul>
                <li> <a href="#"><i class="bx bx-right-arrow-alt"></i>All Slider</a>
                </li>
                
                <li> <a href="#"><i class="bx bx-right-arrow-alt"></i>Add Slider</a>
                </li>
                
                 
            </ul>
        </li> -->
          
        <li>
            <a href="#" target="_blank">
                <div class="parent-icon"><i class="bx bx-support"></i>
                </div>
                <div class="menu-title">Support</div>
            </a>
        </li>
    </ul>
    <!--end navigation-->
